@import "variables";

@keyframes cube-passive-left-top {
    0% {
        left: $distanse-element-min;
        top: $distanse-element-min;
    }
    50% {
        left: $distanse-element-max;
        top: $distanse-element-max;
    }
    100% {
        left: $distanse-element-min;
        top: $distanse-element-min;
    }
}

@keyframes cube-passive-left-bottom {
    0% {
        left: $distanse-element-min;
        bottom: $distanse-element-min;
    }
    50% {
        left: $distanse-element-max;
        bottom: $distanse-element-max;
    }
    100% {
        left: $distanse-element-min;
        bottom: $distanse-element-min;
    }
}

@keyframes cube-passive-right-top {
    0% {
        right: $distanse-element-min;
        top: $distanse-element-min;
    }
    50% {
        right: $distanse-element-max;
        top: $distanse-element-max;
    }
    100% {
        right: $distanse-element-min;
        top: $distanse-element-min;
    }
}
@keyframes cube-passive-right-bottom {
    0% {
        right: $distanse-element-min;
        bottom: $distanse-element-min;
    }
    50% {
        right: $distanse-element-max;
        bottom: $distanse-element-max;
    }
    100% {
        right: $distanse-element-min;
        bottom: $distanse-element-min;
    }
}

@keyframes cube-rotate {
    0% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(135deg);
    }

}

@keyframes cube-start-left-top {
    0% {
        left: $distanse-element-start;
        top: -50px;
    }
    100% {
        left: $distanse-element;
        top: $distanse-element;
    }
}

@keyframes cube-start-left-bottom {
    0% {
        left: $distanse-element-start;
        bottom: -50px;
    }
    100% {
        left: $distanse-element;
        bottom: $distanse-element;
    }
}

@keyframes cube-start-right-top {
    0% {
        right: $distanse-element-start;
        top: -50px;
    }
    100% {
        right: $distanse-element;
        top: $distanse-element;
    }
}

@keyframes cube-start-right-bottom {
    0% {
        right: $distanse-element-start;
        bottom: -50px;
    }
    100% {
        right: $distanse-element;
        bottom: $distanse-element;
    }
}