.cube {
    display: flex;
    flex-direction: column;
    //transform: rotate(45deg);
    & div {
        display: flex;
        & div {
            height: 100px;
            width: 100px;
            background-color: #fff;
        }
    }
    &__part {
        &-left {
            margin-right: 2.5px;
        }
        &-right {
            margin-left: 2.5px;
        }
    }
    &__top {
        margin-bottom: 2.5px;
    }
    &__bottom {
        margin-top: 2.5px;
    }
}

