$distanse-element: -2.5px;


$passive-second-animation: 2s;
$distanse-element-min: -3px;
$distanse-element-max: -20px;

$rotate-second-animation: 3s;

$distanse-element-start: -100px;
$start-second-animation: 3s;